source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget Endorphin.Core.NationalInstruments ~> 0.9
nuget FSharp.Text.RegexProvider ~> 0.0.7
nuget FSharp.Control.Reactive ~> 3.4.1

github anton-pt/Endorphin.Core src/extras/Reactive.fs
github anton-pt/Endorphin.Core src/extras/Control.fs

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx